/*
Border Box
*/
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/*
Global for all pages
*/
body {
  background: #b5b1b1;
  margin: 0;
}

header {
  background: #000000f0;
}

footer {
  background: #00ff8f;
}

/*
Header specific
*/
header {
  padding-top: 20px;
  width: 100%;
  height: 15%;
}

header h1 {
  text-align: center;
  color: white;
}

header img.HeaderLogo {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 5px solid green;
  position: absolute;
  left: 0px;
  top: 0px;
}

header ul.HeaderLinks {
  margin: 0px;
  padding: 0px;
  display: flex;
}

header ul.HeaderLinks li {
  list-style-type: none;
  margin: 0px;
  font-size: 25px;
  border: thick double white;
  width: 100%;
  text-align: center;
}

header ul.HeaderLinks li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-family: monospace;
  width: 100%;
}

header ul.HeaderLinks li a:hover {
  background-color: #9fd884;
}

div.BottomArea {
  position: relative;
  height: 150px;
  width: 100%;
}

/*
Footer specific
*/
footer {
  position: fixed;
  bottom: 0;
  height: 10%;
  width: 100%;
  padding: 0 20px;
}

footer p {
  margin: 0;
  padding: 0;
  text-align: center;
}

footer p:first-child {
  text-decoration: underline;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

footer ul li {
  margin: 0;
  padding: 0;
  text-align: center;
}

/*
h2
*/
h2 {
  text-align: center;
  border-bottom: solid 1px black;
  font-size: 25pt;
}

/*
About Page specific
*/
p.AboutLogoText {
  display: inline;
}

img.AboutLogo {
  width: 4rem;
  height: 4rem;
  border-radius: 8px;
}

ul.AboutLogo {
  list-style-type: none;
}

ul.AboutLogo li {
  margin: 0;
  padding: 0;
  width: 20%;
  border: solid 3px #9fd884;
  background-color: #d3ffbe;
}

ul.AboutLogo li:nth-child(1n) {
  display: inline-block;
}

ul.AboutLogo li a, ul.AboutLogo li p {
  display: inline;
}

ul.AboutLogo li a:hover {

background-color: #52ff00;

}

/*
Blog Page and Portoflio Page specific
*/
aside {
  position: fixed;
  right: 0;
  padding-left: 1rem;
  margin-left: 1rem;
  width: 20%;
  float: right;
  background-color: #b2bb4f;
}
