body {
  background: #b5b1b1;
}

header {
  background: #7a7aa9;
}

footer {
  background: #56ca97;
}

p.AboutLogoText{
display: inline;
}

img.AboutLogo {
width: 50px;
height: 50px;
border-radius: 8px;

}
