/*
Border Box
*/
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/*
Global for all pages
*/
body {
  background: #b5b1b1;
  margin: 0;
}

header {
  background: #7a7aa9;
}

footer {
  background: #56ca97;
}

/*
Header specific
*/
header {
  padding-top: 20px;
}

header h1 {
  text-align: center;
}

header img.HeaderLogo {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  position: absolute;
  left: 0px;
  top: 0px;
}

header ul.HeaderLinks {
  margin: 0px;
  padding: 0px;
  display: flex;
}

header ul.HeaderLinks li {
  list-style-type: none;
  margin: 0px;
  font-size: 25px;
  border-color: black;
  border: thick double;
  width: 100%;
  text-align: center;
}

header ul.HeaderLinks li a {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-family: monospace;
  width: 100%;
}

header ul.HeaderLinks li a:hover {
  background-color: #C6E9FF;
}

div.BottomArea {
  position: relative;
  height: 150px;
  width: 100%;
}

/*
Footer specific
*/
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0 20px;
}

/*
About Page specific
*/
p.AboutLogoText {
  display: inline;
}

img.AboutLogo {
  width: 50px;
  height: 50px;
  border-radius: 8px;
}

/*
<<<<<<< HEAD
Blog Page and Portoflio Page specific
=======
Blog Page specific
>>>>>>> 2eab880c3473a817de7b0f1cc7f7baaecdafa958
*/
aside {
  padding-left: 1rem;
  margin-left: 1rem;
  width: 20%;
  float: right;
  background-color: #b2bb4f;
}
